pfw/pfw.View/Service References/EntityServiceReference/pfw.SDK.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/pfw.Controller.Manager" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/pfw.Controller.Base" />
  <xs:complexType name="EntityRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityId" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/pfw.Controller.Manager" minOccurs="0" name="EntityManager" nillable="true" type="q1:EntityManager" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/pfw.Controller.Base" minOccurs="0" name="EntityTypeName" type="q2:EntityTypeName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityRequest" nillable="true" type="tns:EntityRequest" />
  <xs:complexType name="EntityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityId" type="xs:long" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/pfw.Controller.Base" minOccurs="0" name="EntityTypeName" type="q3:EntityTypeName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityResponse" nillable="true" type="tns:EntityResponse" />
</xs:schema>