pfw/pfw.View/Service References/EntityServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/pfw.Controller.Manager" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:EntityRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" minOccurs="0" name="EntityResult" nillable="true" type="q2:EntityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Manager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" minOccurs="0" name="request" nillable="true" type="q3:EntityRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/pfw.Controller.Manager" minOccurs="0" name="ManagerResult" nillable="true" type="q4:EntityManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>