pfw/pfw.UI/Service References/EntityServiceReference/EntityService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57872/WCF/EntityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/pfw.Controller.Manager" />
  <xs:import schemaLocation="http://localhost:57872/WCF/EntityService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/pfw.Controller.Base" />
  <xs:import schemaLocation="http://localhost:57872/WCF/EntityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityId" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/pfw.Controller.Manager" minOccurs="0" name="EntityManager" nillable="true" type="q1:EntityManager" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/pfw.Controller.Base" minOccurs="0" name="EntityTypeName" type="q2:EntityTypeName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityRequest" nillable="true" type="tns:EntityRequest" />
  <xs:complexType name="EntityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityId" type="xs:long" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/pfw.Controller.Base" minOccurs="0" name="EntityTypeName" type="q3:EntityTypeName" />
      <xs:element minOccurs="0" name="IsRequestSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="ManagerGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityResponse" nillable="true" type="tns:EntityResponse" />
</xs:schema>