pfw/pfw.UI/Service References/EntityServiceReference/EntityService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57872/WCF/EntityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" />
  <xs:element name="Entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:EntityRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" minOccurs="0" name="EntityResult" nillable="true" type="q2:EntityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Layout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" minOccurs="0" name="request" nillable="true" type="q3:EntityRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" minOccurs="0" name="LayoutResult" nillable="true" type="q4:EntityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" minOccurs="0" name="request" nillable="true" type="q5:LogInRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" minOccurs="0" name="LogInResult" nillable="true" type="q6:LogInResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>