pfw/pfw.ServiceAgent/Service References/EntityServiceReference/EntityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EntityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57872/WCF/EntityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57872/WCF/EntityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57872/WCF/EntityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/pfw.SDK.DataContracts" />
      <xsd:import schemaLocation="http://localhost:57872/WCF/EntityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/pfw.Controller.Manager" />
      <xsd:import schemaLocation="http://localhost:57872/WCF/EntityService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/pfw.Controller.Base" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntityService_Entity_InputMessage">
    <wsdl:part name="parameters" element="tns:Entity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Entity_OutputMessage">
    <wsdl:part name="parameters" element="tns:EntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Layout_InputMessage">
    <wsdl:part name="parameters" element="tns:Layout" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Layout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayoutResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:portType name="IEntityService">
    <wsdl:operation name="Entity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/Entity" message="tns:IEntityService_Entity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/EntityResponse" message="tns:IEntityService_Entity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Layout">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/Layout" message="tns:IEntityService_Layout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LayoutResponse" message="tns:IEntityService_Layout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/LogIn" message="tns:IEntityService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/LogInResponse" message="tns:IEntityService_LogIn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEntityService" type="tns:IEntityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Entity">
      <soap:operation soapAction="http://tempuri.org/IEntityService/Entity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Layout">
      <soap:operation soapAction="http://tempuri.org/IEntityService/Layout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IEntityService/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntityService">
    <wsdl:port name="BasicHttpBinding_IEntityService" binding="tns:BasicHttpBinding_IEntityService">
      <soap:address location="http://localhost:57872/WCF/EntityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>